/* 页眉部分格式设置 */
#main_header{
    height: 100px;
    margin: 0 auto;
    background-color: aquamarine;
}
h1{
    font-size: 40px;
}

/* 页面侧边目录栏格式设置 */
#catalog{
    width: 20%;
    background-color: bisque;
}

/* 内容部分格式设置 */
#content{
    width: 80%;
    
}

table {
    border: 1px solid red;
}
td {
    border: 1px solid black;
}

/* 页脚部分格式设置 */
#main_footer{
    background-color: blueviolet;
}